@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@font-face{
  font-family: 'universo';
  src: url("./fonts/Universo-Black (2).ttf");
}
@font-face{
  font-family: 'latinka';
  src: url("./fonts/Latinka-Regular.otf");
}
@font-face{
  font-family: 'pixeloid';
  src: url("./fonts/PixeloidSans.ttf");
}
@font-face{
  font-family: 'pixeloidBold';
  src: url("./fonts/PixeloidSansBold.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.gradient-bg {
  background: linear-gradient(to right, #ff4e50, #000000, #ff4e50);
  background-size: 200% 100%;
  animation: gradientAnimation 5s animate-spin infinite;
}

#gradient-header1 {
  background-color: yellow;
}

.outline-white {
  border: 1px solid white; /* You can adjust the border size as needed */
}

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
}


::-webkit-scrollbar {
  width: 0em;  
}

::-webkit-scrollbar-track {
  background: hsl(263, 100%, 3%);
}

::-webkit-scrollbar-thumb {
  background: hsl(260, 0%, 0%);
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(260, 92%, 12%);
}

.scroll-down {
  height: 50px;
  width: 30px;
  border: 2px solid black;
  position: absolute;
  left: 50%;
  bottom: 20px;
  border-radius: 50px;
  cursor: pointer;
}
.scroll-down::before,
.scroll-down::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -100%) rotate(45deg);
  border: 2px solid black;
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite;
}
.scroll-down::before {
  top: 30%;
  animation-delay: 0.3s;
  /* animation: scroll-down 1s ease-in-out infinite; */
}

@keyframes scroll-down {
  0% {
    /* top:20%; */
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    top: 90%;
    opacity: 0;
  }
}

.text {
  animation: 
    typing 2s steps(18) infinite,
    cursor .4s step-end infinite alternate;
}
@keyframes cursor {
  50% {border-color: transparent}
}

.text-gradient {
  background: 
  /* radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #001495 0.89%,
    #0f00b1 17.23%,
    #0018d0 50%,
    #1500ff 85%
  ); */
  linear-gradient(
    37.81deg,
    #a4a6f7 12.19%,
    #9879e0 29.82%,
    #e366b1 51.94%,
    #e4ad80 90.29%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  color:Tomato;
  animation: 
    typing 2s steps(18) infinite,
    cursor .4s step-end infinite alternate;
}

.text-neon {
  background: #4291ff;
  /* linear-gradient(
    37.81deg,
    #a4a6f7 12.19%,
    #9879e0 29.82%,
    #6681e3 51.94%,
    #80bfe4 90.29%
  ); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  color:Tomato;
  animation: 
    typing 2s steps(18) infinite,
    cursor .4s step-end infinite alternate;
}

.small-text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #a186eb 0.89%,
    #8d84ec 17.23%,
    #aa96e6 50%,
    #cab0f6 85%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  color:Tomato;
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #e6ddfa -43.27%,
    #cebef3 -21.24%,
    #baa2f1 12.19%,
    #a180ed 29.82%,
    #845ae5 51.94%,
    #4931d0 90.29%
  );
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-purple-gradient {
  background: linear-gradient(
    146.56deg, 
    #FFFFFF -265.27%, 
    #6B54AB -61.5%, 
    #11101d00 139.18%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.about-card:hover {
  /* background: var(--black-gradient); */
  /* background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #7c7a9c45 100%); */
  box-shadow: var(--card-shadow);
  /* border-color: dimgray; */
}

.project-container .project-card:last-child {
  margin-right: 0px;
}

.project-card {
  background:
   #4f4f4f31;
  /* linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #7c7a9c4f 100%); */
}

.project-card:hover {
  /* background: var(--black-gradient); */
  background: #4f4f4f5a;
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #1437b581 100%);
  /* background: rgba(3, 45, 255, 0); */
  mix-blend-mode: multiply;
  filter: blur(100px);
}

.pink__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #c24aa872 100%);
  mix-blend-mode: multiply;
  filter: blur(100px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.375);
  mix-blend-mode: multiply;
  filter: blur(200px);
}

.purple__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #4a21a381 100%);
  /* background: rgba(98, 0, 255, 0.6); */
  /* filter: blur(190px); */
  /* background: rgba(83, 35, 159, 0.43); */
  mix-blend-mode: multiply;
  filter: blur(70px);
}

.yellow__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #fead6147 100%);  
  mix-blend-mode: multiply;
  filter: blur(100px);
}

.noise {
  background:
    /* linear-gradient(to right, blue, transparent), */
    linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    /* url(https://grainy-gradients.vercel.app/noise.svg); */
    url(/assets/nnnoise.svg);
}

.text-highlight {
  background: 
    /* linear-gradient(180deg, rgba(0, 68, 255, 0.248) 20%, rgba(0, 4, 255, 0.356) 80%);   */
    #0051ff76;  
  mix-blend-mode: multiply;
}

.App {
  background:rgb(0, 0, 0);
  overflow: hidden;
  width: 100%;
}

.sweet-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  background: 
    linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    /* url(https://grainy-gradients.vercel.app/noise.svg) */
    ;
  width: 100%;
  height: 100vh;
}

.a{
  box-shadow: 0 0 5px cyan,
  0 0 25 px cyan;
}

.a:hover {
  box-shadow: 0 0 5px cyan,
  0 0 25px cyan, 0 0 50px cyan,
  0 0 100px cyan, 0 0 200px cyan;
}

.nav-link-hover:hover {
  color: #007bff; /* Change to your desired hover color */
  text-decoration: underline; /* Add underline on hover */
  /* You can add other styles like background color, padding, etc. */
  transition: color 0.3s ease-in-out; /* Smooth transition for color change */
}

.stroke{
  color: #ffffff;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1.5px;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 3;
  left: 0;
  justify-content: space-between;
  padding-right: 70px;
}
